/vendor/
/.idea/
/.vscode/
/.project
/.classpath
/logs/
/tmp/
*.log
/data/
/generated/
/target/
/build/
/out/
config.php
/src/pagamento/External/vendor
/src/pagamento/External/composer.lock
/composer.lock